<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Member</title>
    <!-- Required meta tags-->
    <%- include("../include/headLink")%>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%- include("../include/navbar") %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%- include("../include/header") %>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h1 style="text-align: center; font-size: 50px;"><%= member[0].name %></h1>
                                <h3 class="title-5 m-b-35">- <%= member[0].department %></h3>
                                <h3 class="title-5 m-b-35">- <%= member[0].goal %></h3>
                                <div class="table-data__tool">
                             
                                  <div class="table-data__tool-right">
                                    <button class="au-btn-primary" data-toggle="modal" data-target="#addTask">
                                        <i class="zmdi zmdi-plus-square"></i>Add Task
                                    </button>
                                  </div>
                                </div>
                                

                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data3">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>Task</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="task">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Add Branch Model -->

    <div id="addTask" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <h1 class="modal-title" style="text-align: center;">Add Member</h1>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <form id="taskForm">

                     <div class="form-group">
                      <label>Task</label>
                      <input type="text" name="task" class="form-control" placeholder="Enter Task Detail">
                       
                     </div>
                     <input type="hidden" name="empId" value="<%= member[0]._id %>">

                     <input type="submit" value="Insert" class="btn btn-success" />  
                  </form>
               </div>
               <div class="modal-footer">    
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
               </div>
            </div>
         </div>
    </div>

    <!-- Jquery JS-->
    <%- include("../include/jsLink")%>

    <script>
        $(document).ready(function(){  
            

                var taskData = "";
            
            function allTask(data, index) {


               taskData += '<tr class="tr-shadow">';
               taskData += '<td>'+(index +1)+'</td>'
               taskData += '<td style="text-align: left;">'+data.task+'</td>';

               if (data.role == 0) {

                  taskData += '<td><button type="button" class="item deactivate" data-id="'+data._id+'" data-toggle="tooltip" data-placement="top" title="Deactivate Task"><span class="role member">Activate</span></button></td>'

               } else {

                  taskData += '<td><button type="button" class="item activate" data-id="'+data._id+'" data-toggle="tooltip" data-placement="top" title="Activate Task"><span class="role admin">Deactivate</span></button></td>'
               }


               // taskData += '<td><div class="table-data-feature"><button class="item editBranch" data-id="'+data._id+'" data-colourname="'+data.colourName+'"  data-toggle="tooltip" data-placement="top" title="Edit Colour Name"><i class="zmdi zmdi-edit"></i></button></div></td>'
               taskData += '</tr>';

            }

                var modelData = "";
                
                taskList();
                function taskList() {

                  $.ajax({  
                    url:'/all-task/<%= member[0]._id %>', 
                    method:'get',  
                    dataType:'json', 
                    success:function(response){
                       // console.log(response);  
                       if(response.msg=='success'){   
                          
                          response.task.forEach((data, index) =>{
                             allTask(data, index);
                           });
                          $('#task').html(taskData);
                         }
                      }
                  })
                }


                // Submit Member Data
                $('#taskForm').on("submit", function(event){
                   event.preventDefault();
                   $.ajax({
                      url:'/create-task',  
                      method:'POST',  
                      data:$('#taskForm').serialize(),
                      success:function(response){  
                         if(response.msg=='success'){

                           taskData = "";
                           taskList();
                           $('#taskForm')[0].reset();  
                           $('#addTask').modal('hide');                   
                         }
                      }
                   });
                });

                $(document).on('click', '.activate', function(){  
                  var Id = $(this).data("id");  

                  $.ajax({
                    url:'/update-task',  
                    method:'POST',  
                    data: { Id: Id, role: 0},
                    success:function(followupResponse){  
                      if(followupResponse.msg=='success'){

                        taskData = "";
                        taskList();                  
                      }
                    }
                  });

                });

                $(document).on('click', '.deactivate', function(){  
                  var Id = $(this).data("id");  

                  $.ajax({
                    url:'/update-task',  
                    method:'POST',  
                    data: { Id: Id, role: 1},
                    success:function(followupResponse){  
                      if(followupResponse.msg=='success'){

                        taskData = "";
                        taskList();                  
                      }
                    }
                  });

                });



        });

    </script>

</body>

</html>
<!-- end document-->
