<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../include/headLink")%>
    <!-- Title Page-->
    <title>Pending Confirm Orderr</title>
</head>

<body class="animsition">
  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <%- include("../include/navbar") %>
      <!-- PAGE CONTAINER-->
      <div class="page-container">
        <!-- HEADER DESKTOP-->
        <%- include("../include/header")%>
          <!-- MAIN CONTENT-->
          <div class="main-content">
            <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header">Conform Order Detail</div>
                        <div class="card-body">
                          <div class="card-title">
                            <h3 class="text-center title-2">Final Conform Order</h3> </div>
                          <hr>
                            <table class="table table-bordered table-striped">
                              <tbody>
                                  <tr>
                                      <td>Purchase Party</td>
                                      <td><%= pendingOrder[0].saleParty[0].shopName %></td>
                                  </tr>
                                  <tr>
                                      <td>Confirm Date</td>
                                      <td><%= pendingOrder[0].pendingDate %></td>
                                  </tr>
                                  <tr>
                                      <td>Confirm User</td>
                                      <td><%= pendingOrder[0].user[0].name %></td>
                                  </tr>

                                  <% if ( pendingOrder[0].bookDate){ %>
                                    <tr>
                                        <td>Book Date</td>
                                        <td><%= pendingOrder[0].bookDate %></td>
                                    </tr>
                                    <tr>
                                        <td>Book User</td>
                                        <td><%= pendingOrder[0].bookUser[0].name %></td>
                                    </tr>
                                  <% } %>
                                  <tr>
                                      <td>Transport</td>
                                      <td><%= pendingOrder[0].transport %></td>
                                  </tr>
                                  <% if ( pendingOrder[0].transport  == "Transport" ){ %>
                                    <tr>
                                      <td>Transport Name</td>
                                      <td><%= pendingOrder[0].transportName %></td>
                                    </tr>
                                    <tr>
                                      <td>Transport Number</td>
                                      <td><%= pendingOrder[0].transportNumber %></td>
                                    </tr>
                                  <% }%>
                                  <tr>
                                      <td>Dispatch Date</td>
                                      <td><%= pendingOrder[0].dispatchDate %></td>
                                  </tr>
                                  <tr>
                                    <td>Dispatch Urgent</td>
                                    <td><%= pendingOrder[0].dispatchUrgentBO %></td>
                                  </tr>
                                  <% if ( pendingOrder[0].dispatchUrgentBO  == "Yes" ){ %>
                                    <tr>
                                      <td>FP Dispatch</td>
                                      <td><%= pendingOrder[0].fpDispatchBO %></td>
                                    </tr>
                                  <% }%>
                                  <tr>
                                      <td>Packing</td>
                                      <td><%= pendingOrder[0].packing %></td>
                                    </tr>
                                  <tr>
                                  <% if ( pendingOrder[0].packing  == "Yes" ){ %>
                                  <tr>
                                    <td>Packing Detail</td>
                                    <td><%= pendingOrder[0].packingDetail%></td>
                                  </tr>
                                  <% }%>
                                  <tr>
                                    <td>Hardware</td>
                                    <td><%= pendingOrder[0].hardware%></td>
                                  </tr>
                                  <tr>
                                    <td>Fitting</td>
                                    <td><%= pendingOrder[0].fitting%></td>
                                  </tr>
                                  <tr>
                                      <td>Comment</td>
                                      <td><%= pendingOrder[0].commentBO %></td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <button class="btn btn-success" id="confirmPending">Final Confirm</button>
                                    </td>
                                    <td>
                                      <button class="btn btn-primary" id="addItem">Add Item</button>
                                    </td>
                                  </tr>
                              </tbody>
                            </table>
                            <br>
                            <hr>
                            <h3 class="title-2">Item Details</h3>
                            <br>
                            <div class="table-data__tool">
                              <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                  <thead>
                                    <th>S.No.</th>
                                    <th>User Id</th>
                                    <th>Item Name</th>
                                    <th>Fab</th>
                                    <th>Size</th>
                                    <th>Total Sq.Ft.</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                  </thead>
                              <tbody class="itemTable">
                              </tbody>
                              <tbody>
                                <tr style=" border-top: 2px dashed #000;">
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Total Amount</b></td>
                                  <td id="itemTotalAmount"></td>
                                </tr>
                                <tr>
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Packing Charge</b></td>
                                  <td><%= pendingOrder[0].packingCharge %></td>
                                </tr>
                                <tr>
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Trasport Charge</b></td>
                                  <td><%= pendingOrder[0].transportCharge %></td>
                                </tr>
                                <tr>
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Fitting Charge</b></td>
                                  <td><%= pendingOrder[0].fittingCharge %></td>
                                </tr>
                                <tr style=" border-top: 2px dashed #000;">
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Total Amount</b></td>
                                  <td id="totalAmount"></td>
                                </tr>
                                <tr>
                                  <td colspan="7" style="text-align: left; font-size: 15px;"><b>GST</b></td>
                                  <% if ( pendingOrder[0].gst  == 0 ){ %>
                                    <td>0%</td>

                                  <% }else if ( pendingOrder[0].gst  == 0.05){%>
                                    <td>5%</td>

                                  <% }else if ( pendingOrder[0].gst  == 0.12){%>
                                    <td>12%</td>

                                  <% }else if ( pendingOrder[0].gst  == 0.18){%>
                                    <td>18%</td>

                                  <% }%>
                                  <td id="gstAmount"></td>
                                </tr>
                                <tr>
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Discount</b></td>
                                  <td><%= pendingOrder[0].discount %></td>
                                </tr>
                                <tr style="border-top: 2px solid #000; border-bottom: 2px solid #000;">
                                  <td colspan="8" style="text-align: left; font-size: 15px;"><b>Final Total Amount</b></td>
                                  <td id="finalTotalAmount"></td>
                                </tr>
                              </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>

      <!-- Confirm Book Model -->
      <div id="confirmBookModel" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" style="text-align: center;">Confirm Book</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form id="confirmPendingForm">
                <div class="form-group">
                  <label>Order No.</label>
                  <input type="text" class="form-control" name="orderNo" placeholder="Enter Order No">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Transport:- </label>
                  <select class="form-control" id="transport" name="transport">
                    <option value="<%= pendingOrder[0].transport %>"><%= pendingOrder[0].transport%></option>
                    <option value="Self">Self</option>
                    <option value="Local">Local</option>
                    <option value="GNT">GNT</option>
                    <option value="Transport">Transport</option>
                    
                  </select>
                </div>
                <div id="transportDetail">
                  <% if ( pendingOrder[0].transport  == "Transport" ){ %>
                    <div class="form-group">
                      <label for="currentWorking" class=" form-control-label">Transport Name</label>
                      <input type="text" id="currentWorking" name="transportName" placeholder="Enter Transport Name" value="<%= pendingOrder[0].transportName%>" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="currentWorking" class=" form-control-label">Transport Number</label>
                      <input type="number" id="currentWorking" name="transportNumber" placeholder="Enter Transport Number" value="<%= pendingOrder[0].transportNumber%>" class="form-control"> 
                    </div>
                  <% }%>
                  
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Packing:- </label>
                  <select class="form-control" id="packing" name="packing">
                    <option value="<%= pendingOrder[0].packing %>"><%= pendingOrder[0].packing%></option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    
                  </select>
                </div>
                <div id="packingDetail">
                  <% if ( pendingOrder[0].packing  == "Yes" ){ %>
                    <div class="form-group">
                      <label for="enquiryDate" class="control-label mb-1">Choose Packing:- </label>
                      <select class="form-control" name="packingDetail">
                        <option value="<%= pendingOrder[0].packingDetail %>"><%= pendingOrder[0].packingDetail%></option>
                        <option value="Plain">Plain</option>
                        <option value="Carboard">Carboard</option>
                        <option value="Bubble">Bubble</option>
                      </select>
                    </div>
                  <%} %>
                  
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Fabricate Date:- </label>
                  <input type="date" name="fabricateDate" class="form-control">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Fabricate Urgent:- </label>
                  <select class="form-control" id="fabricateUrgent" name="fabricateUrgent">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    
                  </select>
                </div>
                <div id="fabricateUrgentDetail">
                  
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Dispatch Date:- </label>
                  <input type="date" name="dispatchDate" class="form-control" value="<%= pendingOrder[0].dispatchDate%>">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Dispatch Urgent:- </label>
                  <select class="form-control" id="urgent" name="dispatchUrgentCO">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    
                  </select>
                </div>
                <div id="urgentDetail">
                  
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Hardware:- </label>
                  <select class="form-control" name="hardware">
                    <option value="<%= pendingOrder[0].hardware %>"><%= pendingOrder[0].hardware%></option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Fitting:- </label>
                  <select class="form-control" name="fitting">
                    <option value="<%= pendingOrder[0].fitting %>"><%= pendingOrder[0].fitting%></option>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Packing Charge:- </label>
                  <input type="number" class="form-control" step=".01" value="<%= pendingOrder[0].packingCharge %>" name="packingCharge" placeholder="Enter Packing Charge">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Transport Charge:- </label>
                  <input type="number" class="form-control" step=".01" value="<%= pendingOrder[0].transportCharge %>" name="transportCharge" placeholder="Enter Transport Charge">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Fitting Charge:- </label>
                  <input type="number" class="form-control" step=".01" value="<%= pendingOrder[0].fittingCharge %>" name="fittingCharge" placeholder="Enter Fitting Charge">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">GST:- </label>
                  <select class="form-control-sm form-control" name="gst" id="gst">   
                    <option value="<%= pendingOrder[0].gst %>"><%= pendingOrder[0].gst%></option>
                    <option value="0">0</option>
                    <option value="0.05">5%</option>
                    <option value="0.12">12%</option>
                    <option value="0.18">18%</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Discount:- </label>
                  <input type="number" class="form-control" step=".01" value="<%= pendingOrder[0].discount %>" name="discount" placeholder="Enter Discount">
                </div>
                <div class="form-group">
                  <label for="enquiryDate" class="control-label mb-1">Comment:- </label>
                  <input type="text" class="form-control" name="commentCO" placeholder="Enter Comment">
                </div>
                <br />  
                 <!-- <input type="text" name="enquiryId" id="utItemId"> -->
                <input type="hidden" value="<%= pendingOrder[0]._id %>" name="orderId" /> 
                <!-- <p id="utItemId"></p> -->
                <input type="submit" id="insert" value="Insert" class="btn btn-success" />  
              </form>
            </div>
            <div class="modal-footer">    
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
            </div>
          </div>
        </div>
      </div>

      <!-- Update Item -->
      <div id="updateItemModel" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="utItemName" style="text-align: center;"></h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form id="itemData">
                <div class="form-group">
                  <label>Size</label>
                  <input type="text" id="utSize" class="form-control" name="size">
                </div>
                <div class="form-group">
                  <label>Total Sq.Ft.</label>
                  <input type="number" id="utTotalSqft" step=".01" class="form-control" name="totalSqft">
                </div>
                <div class="form-group">
                  <label>Quantity</label>
                  <input type="number" id="utQuantity" step=".01" class="form-control" name="quantity">
                </div>
                <div class="form-group">
                  <label>Rate</label>
                  <input type="number" id="utRate" step=".01" class="form-control" name="rate">
                </div>
                <div id="utFabricateId">
                  
                </div>
                
                <br />  
                 <!-- <input type="text" name="enquiryId" id="utItemId"> -->
                <input type="hidden" name="stockItemId" id="utItemId" /> 
                <!-- <p id="utItemId"></p> -->
                <input type="submit" id="insert" value="Insert" class="btn btn-success" />  
              </form>
            </div>
            <div class="modal-footer">    
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
            </div>
          </div>
        </div>
      </div>

       <!-- Add Item -->
      <div id="addItemModel" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" style="text-align: center;">Add Item</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form id="addItemForm">
                <div class="form-group">
                  <label>Item Group</label>
                  <select class="form-control" id="itemGroup" name="itemGroupId">
                    
                  </select>
                </div>
                <div class="form-group">
                  <label>Item Name</label>
                  <select class="form-control" id="itemName" name="itemId">
                    
                  </select>
                </div>
                <div class="form-group">
                  <label>Size</label>
                  <input type="text" class="form-control" name="size" placeholder="Enter Size">
                </div>
                <div class="form-group">
                  <label>Total Sq.Ft</label>
                  <input type="number" class="form-control" step=".01" name="totalSqft" placeholder="Enter Total Sq.Ft.">
                </div>
                <div class="form-group">
                  <label>Quantity</label>
                  <input type="number" class="form-control" step=".01" placeholder="Enter Quantity" name="quantity">
                </div>
                <div class="form-group">
                  <label>Rate</label>
                  <input type="number" class="form-control" step=".01" placeholder="Enter Rate" name="rate">
                </div>
                <input type="hidden" value="<%= pendingOrder[0]._id %>" name="foreginId">
                <input type="hidden" value="5" name="role">
                <input type="hidden" value="3" name="godownNo">
                <br />  

                <!-- <p id="utItemId"></p> -->
                <input type="submit" id="insert" value="Insert" class="btn btn-success" />  
              </form>
            </div>
            <div class="modal-footer">    
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
            </div>
          </div>
        </div>
      </div>
      <!-- Jquery JS-->
      <%- include("../include/jsLink") %>
        <script>
        $(document).ready(function() {

             var selectItemGroup = '<option>Select Item Group</option>';

      function itemGroup(data, index) {

        selectItemGroup += '<option value="' + data._id + '">' + data.itemGroupName + '</option>'
      }

      itemGroupList();

      

      function itemGroupList() {
        var modelData = "";
        $.ajax({
          url: '/all-item-group',
          method: 'get',
          dataType: 'json',
          success: function(response) {
            console.log(response);
            if(response.msg == 'success') {
              selectItemGroup = "'<option>Select Item Group</option>'";
              response.itemGroup.forEach((data, index) => {
                itemGroup(data, index);
              });
              $('#itemGroup').html(selectItemGroup);
            }
          }
        })
      }

      //Item Name
      var selectItemName = "";

      function itemName(data, index) {

        selectItemName += '<option value="' + data._id + '">' + data.itemName + '</option>'
      }

      $(document).on('change', '#itemGroup', function(){

        console.log('clickkk');
        var itemGroupId = $(this).val();
        $.ajax({
          url:'/all-item-name/'+itemGroupId,
          method:'get',
          dataType: 'json',
          success:function(response)
          {
            selectItemName = "";
            response.itemName.forEach((data, index) => {
              itemName(data, index);
            });
            $('#itemName').html(selectItemName);
          }
        })
      });


          var itemNo = 0;
          var itemDetail = "";

          var purchaseStockData = "";
          var amount = 0;
          var itemTotalAmount = 0;

          function pendingOrder(data, index) {

           purchaseStockData += '<tr class="tr-shadow">';
           if (data.fabricateRole == 1) {

              purchaseStockData += '<td><div class="table-data-feature">'+(index + 1)+'<button type="button" class="item fabricate" data-id="'+data._id+'"  data-toggle="tooltip" data-placement="top" title="Fabricate Item"><i class="fab fa-foursquare"></i></button></div></td>';
           } else {

              purchaseStockData += '<td>'+(index + 1)+'</td>';
           }
            purchaseStockData += '<td>'+data.user[0].name+'</td>';
           
           purchaseStockData += '<td>'+data.item[0].itemName+'</td>';

           if (data.fabricateRole == 0) {

              purchaseStockData += '<td>No</td>';

           } else if(data.fabricateRole == 1) {

              purchaseStockData += '<td>Yes</td>';

           }else if(data.fabricateRole == 2) {

              purchaseStockData += '<td><a href="/view-fabricate/'+data._id+'">Done</a></td>';
           }else{

              purchaseStockData += '<td>-----</td>'
           }


            if (data.size) {

              purchaseStockData += '<td>'+data.size+'</td>';
             }else{
              
              purchaseStockData += '<td>---</td>';
             }
             
             if (data.totalSqft) {

              purchaseStockData += '<td>'+data.totalSqft+'</td>';
             }else{
              
              purchaseStockData += '<td>---</td>';
             }
            

            purchaseStockData += '<td>'+data.quantity+'</td>';
            purchaseStockData += '<td>'+data.rate+'</td>';
             amount = data.totalSqft * data.rate;
            itemTotalAmount += amount

            purchaseStockData += '<td>'+amount+'</td>'

          if (data.role == 5) {

            purchaseStockData += '<td><div class="table-data-feature"><button type="button" class="item"><i class="zmdi zmdi-check-circle"></i></button></div></td>'

          } else {

            purchaseStockData += '<td><div class="table-data-feature"><button type="button" class="item fabricate" data-id="'+data._id+'"  data-toggle="tooltip" data-placement="top" title="Fabricate Item"><i class="fab fa-foursquare"></i></button><button type="button" class="item updateItem" data-id="'+data._id+'" data-itemname="'+data.item[0].itemName+'" data-size="'+data.size+'" data-totalsqft="'+data.totalSqft+'" data-quantity="'+data.quantity+'" data-rate="'+data.rate+'" data-fabricate="'+data.fabricateRole+'" data-toggle="tooltip" data-placement="top" title="Update Quantity"><i class="zmdi zmdi-edit"></i></button><button type="button" class="item confirmBooking" data-id="'+data._id+'" data-toggle="tooltip" data-placement="top" title="Confirm Booking"><i class="zmdi zmdi-check-circle"></i></button></div></td>'
          }
           
           purchaseStockData += '</tr>';

          } 

          //Confirm Booking
          $(document).on('click', '.confirmBooking', function(){  
            var utItemId = $(this).data("id");  

            $.ajax({
              url:'/update-stock-data',  
              method:'POST',  
              data: {stockItemId: utItemId, fabricateRole: 1},
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){

                  purchaseStockData = "";
                  purchaseItem();                  
                }
              }
            });

          });

          //Fabricate
          $(document).on('click', '.fabricate', function(){  
            var utItemId = $(this).data("id");  

            $.ajax({
              url:'/update-stock-data',  
              method:'POST',  
              data: {stockItemId: utItemId, fabricateRole: 1},
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){

                  purchaseStockData = "";
                  purchaseItem();                  
                }
              }
            });

          });

          //Model for Followup Data
          $(document).on('click', '.updateItem', function(){  
            var utItemId = $(this).data("id");  
            var utItemName = $(this).data("itemname");
            var utSize = $(this).data("size");
            var utTotalSqft = $(this).data("totalsqft");
            var utQuantity = $(this).data("quantity");
            var utRate = $(this).data("rate");
            var utFabricate = $(this).data("fabricate");
            $('#updateItemModel').modal('show');
            $('#utItemName').html(utItemName);
            $('#utSize').val(utSize);
            $('#utTotalSqft').val(utTotalSqft);
            $('#utQuantity').val(utQuantity);
            $('#utRate').val(utRate);


            console.log(utFabricate);
            if (utFabricate == 1) {

              $('#utFabricateId').html('<div class="form-group"><label>Fabricate</label><select class="form-control" name="fabricateRole"><option value="1">Yes</option><option value="0">No</option></select></div>');
            } else {

              console.log("hit");
              $('#utFabricateId').html('<div class="form-group"><label>Fabricate</label><select class="form-control" name="fabricateRole"><option value="0">No</option><option value="1">Yes</option></select></div>');
            }
            $('#utItemId').val(utItemId);


          });

          //Submit Followup Data
          $('#itemData').on("submit", function(event){
            event.preventDefault();
            $.ajax({
              url:'/update-stock-data',  
              method:'POST',  
              data:$('#itemData').serialize(),
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){
                  alert('Item Updated');   
                  $('#itemData')[0].reset();  
                  $('#updateItemModel').modal('hide'); 
                  purchaseStockData = "";
                  purchaseItem();                  
                }
              }
            });
          });

          //Add Receive Item
          $(document).on('click', '#addItem', function(){  

            $('#addItemModel').modal('show');

          });

          //Submit Item Data
          $('#addItemForm').on("submit", function(event){
            event.preventDefault();
            $.ajax({
              url:'/add-stock-data',  
              method:'POST',  
              data:$('#addItemForm').serialize(),
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){
                  alert('Item Added');   
                  $('#addItemForm')[0].reset();  
                  $('#addItemModel').modal('hide'); 
                  purchaseStockData = "";
                  purchaseItem();                  
                }
              }
            });
          });

           //Confirm Receive Purchase
          $(document).on('click', '#confirmPending', function(){  

                $('#confirmBookModel').modal('show');
            
            });

          $('#confirmPendingForm').on("submit", function(event){
            event.preventDefault();
            $.ajax({
              url:'/confirm-pending-order',  
              method:'POST',  
              data:$('#confirmPendingForm').serialize(),
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){

                  window.location.href = "/pending-order";
                }
              }
            });
          });



          purchaseItem();

          //Display Item Name
          function purchaseItem() {

            
            $.ajax({
              url: '/fetch-purchase-item-name/<%= pendingOrder[0]._id %>',
              method: 'get',
              dataType: 'json',
              success: function(response) {
                console.log(response);
                if(response.msg == 'success') {
                  console.log(response);
                  response.purchaseStock.forEach((data, index) => {
                    pendingOrder(data, index);
                  });
                  $('.itemTable').html(purchaseStockData);
                  totalAmount = itemTotalAmount + parseFloat('<%= pendingOrder[0].fittingCharge %>') + parseFloat('<%= pendingOrder[0].packingCharge %>') + parseFloat('<%= pendingOrder[0].transportCharge %>');

                  gstAmount = parseFloat('<%= pendingOrder[0].gst %>') * totalAmount;

                  finalTotalAmount = totalAmount + gstAmount - parseFloat('<%= pendingOrder[0].discount %>')

                  $('#itemTotalAmount').html(itemTotalAmount);
                  $('#totalAmount').html(totalAmount);
                  $('#gstAmount').html(gstAmount);
                  $('#finalTotalAmount').html(finalTotalAmount);

                  itemTotalAmount = 0;
                  totalAmount = 0;
                  gstAmount = 0;
                  finalTotalAmount = 0;
                }
              }
            })
          }

          //Get transport vvalue
          $('#transport').on('change', function() {

            console.log(this.value);
            let transport = this.value;
            if (transport == "Transport") {

              transport = '<div class="form-group"><label for="currentWorking" class=" form-control-label">Transport Name</label><input type="text" id="currentWorking" name="transportName" placeholder="Enter Transport Name" value="<%= pendingOrder[0].saleParty[0].transportName %>" class="form-control"> </div><div class="form-group"><label for="currentWorking" class=" form-control-label">Transport Number</label><input type="number" id="currentWorking" name="transportNumber" placeholder="Enter Transport Number" value="<%= pendingOrder[0].saleParty[0].transportNumber %>" class="form-control"> </div>'

              $('#transportDetail').html(transport);
            }else{

              $('#transportDetail').html(" ");
            }

          });

          //Get packing value
          $('#packing').on('change', function() {
            let packing = this.value;
            if (packing == "Yes") {

              packing = '<div class="form-group"><label for="enquiryDate" class="control-label mb-1">Choose Packing:- </label><select class="form-control" name="packingDetail"><option value="Plain">Plain</option><option value="Carboard">Carboard</option><option value="Bubble">Bubble</option></select></div>'

              $('#packingDetail').html(packing);
            }else{

              $('#packingDetail').html(" ");
            }

          });

          //Get urgent value
          $('#urgent').on('change', function() {
            let urgent = this.value;
            if (urgent == "Yes") {

              urgent = '<div class="form-group"><label for="enquiryDate" class="control-label mb-1">Choose Dispatch Urgent FP:- </label><select class="form-control" name="fpDispatchCO"><option value="1">1</option><option value="2">2</option></select></div>'

              $('#urgentDetail').html(urgent);
            }else{

              $('#urgentDetail').html(" ");
            }

          });

          //Get Faricate urgent value
          $('#fabricateUrgent').on('change', function() {
            let fabricateUrgent = this.value;
            if (fabricateUrgent == "Yes") {

              fabricateUrgent = '<div class="form-group"><label for="enquiryDate" class="control-label mb-1">Choose Fabricate Urgent FP:- </label><select class="form-control" name="fpFabricate"><option value="1">1</option><option value="2">2</option></select></div>'

              $('#fabricateUrgentDetail').html(fabricateUrgent);
            }else{

              $('#fabricateUrgentDetail').html(" ");
            }

          });
        });
        </script>
</body>

</html>
<!-- end document-->