<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../include/headLink")%>
  <!-- Title Page-->
  <title>See Debtor List</title>

</head>

<body class="animsition">
  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <%- include("../include/navbar") %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <%- include("../include/header")%>

      <!-- MAIN CONTENT-->
      <div class="main-content">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">Debtor List</h3>
                  <!-- <form id="searchEnquiryForm">
                      <div class="row mb-0">
                          <div class="col-md-4 col-sm-4">
                              <div class="form-group">
                                  <label>Search....:</label>
                                  <input type="text" class="form-control" placeholder="Enter Shop Name/MobileNo." name="searchTerm">
                               </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="form-group">
                                  <label>Enquiry Date :</label>
                                  <input type="date" class="form-control" name="enquiryDate">
                               </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="form-group">
                                  <label>Enquiry Status</label>
                                  <select name="enquiryStatus" id="enquiryStatus" class="form-control">
                                    <option value="">Select Enquiry Status</option>
                                    <option value="Lead">Lead</option>
                                    <option value="Enquiry">Enquiry</option>
                                    <option value="New Dealer">New Dealer</option>
                                    <option value="Confirm Dealer">Confirm Dealer</option>
                                    <option value="Not Confirm">Not Confirm</option>
                                  </select>
                               </div>
                          </div>
                      </div>
                      <div class="row mb-0">
                          <div class="col-md-4 col-sm-4">
                              <div class="form-group">
                                  <label>Search State</label>
                                  <input type="text" class="form-control" placeholder="Enter State" name="state">
                               </div>
                          </div>
                          <div class="col-md-4 col-sm-4">
                              <div class="form-group">
                                  <label>Search City</label>
                                  <input type="text" class="form-control" placeholder="Enter City" name="city">
                               </div>
                          </div>

                          <% if ( username.seeMktEnquiryRole  == 0 ){ %>
                          <div class="col-md-4 col-sm-4">
                              <div class="form-group">
                                  <label>Mkt. Person</label>
                                  <select name="marketingPerson" id="marketingPerson" class="form-control">

                                  </select>
                               </div>
                          </div>

                          <% } %>
                      </div>
                      <div class="row mb-0">
                          <div class="col-md-3 col-sm-3">
                              <div class="form-group">
                                  <label>Shop Type</label>
                                  <select name="shopType" id="shopType" class="form-control">
                                    <option value="">Select Shop Type</option>
                                    <option value="Existing Dealer">Existing Dealer</option>
                                    <option value="Enquiry for Dealer">Enquiry for Dealer</option>
                                    <option value="Faricator">Faricator</option>
                                    <option value="Wholeseller">Wholeseller</option>
                                    <option value="Customer">Customer</option>
                                    <option value="Builder">Builder</option>
                                    <option value="Architecture">Architecture</option>
                                  </select>
                               </div>
                          </div>
                          <div class="col-md-3 col-sm-3">
                              <div class="form-group">
                                  <label>Select Shop Category :</label>
                                  <select name="category" id="category" class="form-control">
                                    <option value="">Select Shop Category</option>
                                    <option value="VIP">VIP</option>
                                    <option value="D+++">D+++</option>
                                    <option value="D++">D++</option>
                                    <option value="D+">D+</option>
                                    <option value="D">D</option>
                                    <option value="D-">D-</option>
                                  </select>
                               </div>
                          </div>
                          <div class="col-md-3 col-sm-3">
                              <div class="form-group">
                                  <label>Followup Date :</label>
                                  <input type="date" class="form-control" name="followupDate">
                               </div>
                          </div>
                          <div class="col-md-3 col-sm-3">
                              <div class="form-group">
                                  <label>Next Followup Date :</label>
                                  <input type="date" class="form-control" name="nextFollowupDate">
                               </div>
                          </div>
                      </div>
                      <div class="row mb-0">
                          <div class="col-md-12 col-sm-12" style="margin-bottom: 5px;">
                              <button class="btn btn-primary btn-sm submitClassFormData" type="submit" name="search">Search</button>
                          </div>
                      </div>    
                  </form>  -->
                  <div class="row mb-0">
                      <div class="col-md-12 col-sm-12" style="margin-bottom: 5px;">
                          <button class="btn btn-success btn-sm" id="exporttable">Export</button>
                      </div>
                  </div>

                <div class="table-data__tool">
                  <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3" id="dataTable">
                      <thead>
                        <tr>
                          <th>S.No.</th>
                          <th>Shop Name</th>
                          <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                  <!-- END DATA TABLE -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

<!-- Jquery JS-->
<%- include("../include/jsLink")%>


<script>
  $(document).ready(function(){  

    var enquiryData = "";
    var fl = 0;
    var  openingDate = "";
    var amount = 0;
    var itemTotalAmount = 0;
    var totalOrderAmount = 0;
    var packingCharge = 0;
    var transportCharge = 0;
    var fittingCharge = 0;
    var totalAmount = 0;
    var gst = 0;
    var gstAmount = 0;
    var discount = 0;
    var finalAmount = 0;
    var ledgerData = "";
    var totalBillFinalAmount = 0;
    var totalCashFinalAmount = 0;
    var balanceAmount = 0;
    
    function allEnquiry(data, index) {



       // enquiryData += '<tr class="tr-shadow">';
       // enquiryData += '<td>'+(index + 1)+'</td>';
       
       // enquiryData += '<td>'+data.shopName+'</td>';

      if (data.softDate) {

        openingDate = data.softDate;
        id = data._id;
        
        $.ajax({
            url:"/debtor-ledger",
            method:"POST",
            data:{ openingDate: openingDate, partyId: id},
            success:function(response)
            {
                if(response.msg=='success'){   

                  for (var a = 0; a < response.ledger.length; a++) {
                    
                    if (response.ledger[a].role == 1) {

                      for (var i = 0; i < response.ledger[a].stock.length; i++) {
                
                        amount = response.ledger[a].stock[i].totalSqft * response.ledger[a].stock[i].rate;
                        itemTotalAmount += amount;
                        amount = 0;

                      }

                        totalOrderAmount += itemTotalAmount;
                        itemTotalAmount = 0;

                        packingCharge = response.ledger[a].packingCharge;
                        transportCharge = response.ledger[a].transportCharge;
                        fittingCharge = response.ledger[a].fittingCharge;

                        totalAmount = totalOrderAmount + packingCharge + transportCharge + fittingCharge;


                        gst = response.ledger[a].gst;

                        gstAmount = gst * totalAmount;

                        discount = response.ledger[a].discount;

                        finalAmount = totalAmount + gstAmount - discount;

                        totalBillFinalAmount += parseFloat(finalAmount);
                        

                        finalAmount = 0;
                    }else{

                      switch (response.ledger[a].payRec) {

                        case 1:

                          totalCashFinalAmount += parseFloat(response.ledger[a].amount);
                          break;
                        case 2:
                         
                          totalBillFinalAmount += parseFloat(response.ledger[a].amount);
                          
                          break;
                        case 3:
                         
                          totalBillFinalAmount += parseFloat(response.ledger[a].amount);
                          break;
                        case 4:
                          
                          totalBillFinalAmount += parseFloat(response.ledger[a].amount);
                          break;
                      }
                    }
                  }


                  balanceAmount = (totalBillFinalAmount - totalCashFinalAmount + data.softOpening).toFixed(2); 


                  enquiryData += '<tr class="tr-shadow">';
                  enquiryData += '<td>'+(index + 1)+'</td>';
                  enquiryData += '<td>'+data.shopName+'</td>';
                  enquiryData += '<td>'+balanceAmount+'</td>';
                  enquiryData += '</tr>'

                  openingDate = "";
                 amount = 0;
                 itemTotalAmount = 0;
                 totalOrderAmount = 0;
                 packingCharge = 0;
                 transportCharge = 0;
                 fittingCharge = 0;
                 totalAmount = 0;
                 gst = 0;
                 gstAmount = 0;
                 discount = 0;
                 finalAmount = 0;
                 ledgerData = "";
                 totalBillFinalAmount = 0;
                 totalCashFinalAmount = 0;
                 balanceAmount = 0;

                  $('tbody').append(enquiryData);
                }
            }
        })
      }else if(data.openingDate) {

        openingDate = data.openingDate;
        id = data._id;
        
        $.ajax({
            url:"/debtor-ledger",
            method:"POST",
            data:{ openingDate: openingDate, partyId: id},
            success:function(response)
            {
                if(response.msg=='success'){   

                  for (var a = 0; a < response.ledger.length; a++) {
                    
                    if (response.ledger[a].role == 1) {

                      for (var i = 0; i < response.ledger[a].stock.length; i++) {
                
                        amount = response.ledger[a].stock[i].totalSqft * response.ledger[a].stock[i].rate;
                        itemTotalAmount += amount;
                        amount = 0;

                      }

                        totalOrderAmount += itemTotalAmount;
                        itemTotalAmount = 0;

                        packingCharge = response.ledger[a].packingCharge;
                        transportCharge = response.ledger[a].transportCharge;
                        fittingCharge = response.ledger[a].fittingCharge;

                        totalAmount = totalOrderAmount + packingCharge + transportCharge + fittingCharge;


                        gst = response.ledger[a].gst;

                        gstAmount = gst * totalAmount;

                        discount = response.ledger[a].discount;

                        finalAmount = totalAmount + gstAmount - discount;

                        totalBillFinalAmount += parseFloat(finalAmount);
                        

                        finalAmount = 0;
                    }else{

                      switch (response.ledger[a].payRec) {

                        case 1:

                          totalCashFinalAmount += parseFloat(response.ledger[a].amount);
                          break;
                        case 2:
                         
                          totalBillFinalAmount += parseFloat(response.ledger[a].amount);
                          
                          break;
                        case 3:
                         
                          totalBillFinalAmount += parseFloat(response.ledger[a].amount);
                          break;
                        case 4:
                          
                          totalBillFinalAmount += parseFloat(response.ledger[a].amount);
                          break;
                      }
                    }
                  }


                  balanceAmount = (totalBillFinalAmount - totalCashFinalAmount + data.openingAmount).toFixed(2); 

                  

                  enquiryData += '<tr class="tr-shadow">';
                  enquiryData += '<td>'+(index + 1)+'</td>';
                  enquiryData += '<td>'+data.shopName+'</td>';
                  enquiryData += '<td>'+balanceAmount+'</td>';
                  enquiryData += '</tr>'

                  openingDate = "";
                   amount = 0;
                   itemTotalAmount = 0;
                   totalOrderAmount = 0;
                   packingCharge = 0;
                   transportCharge = 0;
                   fittingCharge = 0;
                   totalAmount = 0;
                   gst = 0;
                   gstAmount = 0;
                   discount = 0;
                   finalAmount = 0;
                   ledgerData = "";
                   totalBillFinalAmount = 0;
                   totalCashFinalAmount = 0;
                   balanceAmount = 0;

                  $('tbody').append(enquiryData);
                }
            }
        });

        
      }
       
       // enquiryData += '</tr>';

         openingDate = "";
         amount = 0;
         itemTotalAmount = 0;
         totalOrderAmount = 0;
         packingCharge = 0;
         transportCharge = 0;
         fittingCharge = 0;
         totalAmount = 0;
         gst = 0;
         gstAmount = 0;
         discount = 0;
         finalAmount = 0;
         ledgerData = "";
         totalBillFinalAmount = 0;
         totalCashFinalAmount = 0;
         balanceAmount = 0;

    } 
    

      var modelData = "";

      // if ('<%= role%> == 1') {}
        $.ajax({  
        url:'/all-debtor-list',  
        method:'get',  
        dataType:'json', 
        success:function(response){ 
             if(response.msg=='success'){   

              response.enquiry.forEach((data, index) =>{
                allEnquiry(data, index);
              });
              
            }
          }
        })


  });

</script>

</body>

</html>
<!-- end document-->
