<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../include/headLink")%>
    <!-- Title Page-->
    <title><%= enquiry.shopName %></title>
</head>

<body class="animsition">
  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <%- include("../include/navbar") %>
      <!-- PAGE CONTAINER-->
      <div class="page-container">
        <!-- HEADER DESKTOP-->
        <%- include("../include/header")%>
          <!-- MAIN CONTENT-->
          <div class="main-content">
            <div class="section__content section__content--p30">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header">Enquiry Info</div>
                      <div class="card-body">
                        <div class="card-title">
                          <h3 class="text-center title-2">Enquiry Info</h3> </div>
                        <hr>

                        <table class="table table-bordered table-striped">
                          <tbody>
                              <tr>
                                  <td>Enquiry Date</td>
                                  <td><%= enquiry[0].enquiryDate %></td>
                              </tr>
                              <tr>
                                  <td>Marketing Person</td>
                                  <td id="marketingPersonTd"></td>
                              </tr>
                              <tr>
                                  <td>Reference By-:</td>
                                  <td><%= enquiry[0].refrenceBy %></td>
                              </tr>
                              <tr>
                                  <td>Shop Name</td>
                                  <td><%= enquiry[0].shopName %></td>
                              </tr>
                              <tr>
                                  <td>Enquiry[0] Status</td>
                                  <td><%= enquiry[0].enquiryStatus %></td>
                              </tr>
                              <tr>
                                  <td>Shop Type</td>
                                  <td><%= enquiry[0].shopType %></td>
                              </tr>
                              <tr>
                                  <td>Category</td>
                                  <td><%= enquiry[0].category %></td>
                              </tr>
                              <tr>
                                  <td>Mobile</td>
                                  <td><%= enquiry[0].mobile %></td>
                              </tr>
                              <tr>
                                  <td>Email</td>
                                  <td><%= enquiry[0].email %></td>
                              </tr>
                              <tr>
                                  <td>State</td>
                                  <td><%= enquiry[0].state %></td>
                              </tr>
                              <tr>
                                  <td>City</td>
                                  <td><%= enquiry[0].city %></td>
                              </tr>
                              <tr>
                                  <td>Address</td>
                                  <td><%= enquiry[0].address %></td>
                              </tr>
                              <tr>
                                  <td>First Contact Person Name</td>
                                  <td><%= enquiry[0].firstContactPersonName %></td>
                              </tr>
                              <tr>
                                  <td>First Contact Person Mobile</td>
                                  <td><%= enquiry[0].firstContactPersonMobile %></td>
                              </tr>
                              <tr>
                                  <td>Second Contact Person Name</td>
                                  <td><%= enquiry[0].secondContactPersonName %></td>
                              </tr>
                              <tr>
                                  <td>Second Contact Person Mobile</td>
                                  <td><%= enquiry[0].secondContactPersonMobile %></td>
                              </tr>
                              <tr>
                                  <td>First Contact Person Name</td>
                                  <td><%= enquiry[0].firstContactPersonName %></td>
                              </tr>
                              <tr>
                                  <td>Requirement</td>
                                  <td><%= enquiry[0].requirement %></td>
                              </tr>
                              <tr>
                                  <td>Current Working</td>
                                  <td><%= enquiry[0].currentWorking %></td>
                              </tr>
                              <tr>
                                  <td>Comment</td>
                                  <td><%= enquiry[0].comment %></td>
                              </tr>
                              <tr>
                                  <td>Transporter Name</td>
                                  <td><%= enquiry[0].transportName %></td>
                              </tr>
                              <tr>
                                  <td>Transporter Number</td>
                                  <td><%= enquiry[0].transportNumber %></td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header"> Quotation
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <h3 class="text-center title-2">Quotation Info</h3> </div>
                        <hr>

                        <table class="table table-bordered table-striped">
                          <thead class="thead-dark">
                            <th>Date</th>
                            <th>Quotation</th>
                          </thead>
                          <tbody id="quotation">

                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header"> Followups
                      </div>
                      <div class="card-body">
                        <div class="card-title">
                          <h3 class="text-center title-2">Followups Info</h3>
                          <div class="table-data-feature"><button class="item addFollowup" data-id="'+data._id+'" data-shopname="'+data.shopName+'" data-toggle="tooltip" data-placement="top" title="Add Followup"><i class="zmdi zmdi-collection-plus"></i></button></div>
                        </div>
                        <hr>

                        <table class="table table-bordered table-striped">
                          <thead class="thead-dark">
                            <th>Followup Date</th>
                            <th>Comment</th>
                            <th>Next Followup Date</th>
                            <th>Time</th>
                          </thead>
                          <tbody id="followup">

                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
      </div>

      <!-- Update Followup Model -->
    <div id="addFollowupModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" style="text-align: center;"><%= enquiry[0].shopName %></h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form id="followupData">
              <div class="form-group">
                <label>Comment</label>
                <input type="text" class="form-control" name="comment">
              </div>
              <div class="form-group">
                <label>Next Followup Date</label>
                <input type="date" class="form-control" name="nextFollowupDate">
              </div>
              <br />  
               <!-- <input type="text" name="enquiryId" id="fdEnquiryId"> -->
              <input type="hidden" name="enquiryId" value="<%= enquiry[0]._id %>" /> 
              <!-- <p id="fdEnquiryId"></p> -->
              <input type="submit" id="insert" value="Insert" class="btn btn-success" />  
            </form>
          </div>
          <div class="modal-footer">    
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
          </div>
        </div>
      </div>
    </div>
      <!-- Jquery JS-->
      <%- include("../include/jsLink") %>
        <script>
        $(document).ready(function() {

          //Model for Followup Data
          $(document).on('click', '.addFollowup', function(){  

            $('#addFollowupModal').modal('show');

          });

          //Submit Followup Data
          $('#followupData').on("submit", function(event){
            event.preventDefault();
            $.ajax({
              url:'/update-followup',  
              method:'POST',  
              data:$('#followupData').serialize(),
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){
                  alert('Followup Updated');   
                  $('#followupData')[0].reset();  
                  $('#addFollowupModal').modal('hide');                   
                }
              }
            });
          });

            var marketingPerson = '<%= enquiry[0].marketingPerson %>';
            var partyId = '<%= enquiry[0]._id %>';


            // $('#followups').html(followupData);

            // Fetch Marketing Person Name


            $.ajax({  
              url:'/fetch-marketing-person-name/'+marketingPerson,  
              method:'get',  
              dataType:'json', 
              success:function(response){
                   if(response.msg=='success'){   

                      var userData = response.user.name;

                    $('#marketingPersonTd').html(userData);
                  }
                }
            })

            var quotationData = "";
            $.ajax({  
              url:'/fetch-quotation/'+partyId,  
              method:'get',  
              dataType:'json', 
              success:function(response){
                   if(response.msg=='success'){   


                      response.quotation.forEach((data, index) =>{
                        allQuotation(data, index);
                      });
``
                    $('#quotation').html(quotationData);
                  }
                }
            })

            function allQuotation(data, index) {


               quotationData += '<tr class="tr-shadow">';
               quotationData += '<td>'+data.date+'</td>';
               quotationData += '<td><a href="/quotation/'+data.quotationImage+'" target="_blank"><img style="width: 100px; height: 50px;" src="/quotation/'+data.quotationImage+'"></a></td>';

               quotationData += '</tr>';
              } 

              //Followup

              var followupData = "";
            $.ajax({  
              url:'/fetch-followup/'+partyId,  
              method:'get',  
              dataType:'json', 
              success:function(response){
                   if(response.msg=='success'){   


                      response.followup.forEach((data, index) =>{
                        allFollowup(data, index);
                      });
``
                    $('#followup').html(followupData);
                  }
                }
            })

            function allFollowup(data, index) {

               // var followupDate = data.followups[0].followupDate;
               // var comment = data.followups[0].comment;
               // var nextFollowupDate = data.followups[0].nextFollowupDate;


               followupData += '<tr class="tr-shadow">';
               followupData += '<td>'+data.followupDate+'</td>';
               followupData += '<td>'+data.comment+'</td>';
               followupData += '<td>'+data.nextFollowupDate+'</td>';
               followupData += '<td>'+data.followupTime+'</td>';

               followupData += '</tr>';
              } 


        });
        </script>
</body>

</html>
<!-- end document-->