<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../include/headLink")%>
    <!-- Title Page-->
    <title>Receive Stock</title>
</head>

<body class="animsition">
  <div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <%- include("../include/navbar") %>
      <!-- PAGE CONTAINER-->
      <div class="page-container">
        <!-- HEADER DESKTOP-->
        <%- include("../include/header")%>
          <!-- MAIN CONTENT-->
          <div class="main-content">
            <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header">Purchase Stock Detail</div>
                        <div class="card-body">
                          <div class="card-title">
                            <h3 class="text-center title-2">Purchase Stock</h3> </div>
                          <hr>
                            <table class="table table-bordered table-striped">
                              <tbody>
                                <tr>
                                      <td>Purchase Date</td>
                                      <td><%= purchaseStock[0].date %></td>
                                  </tr>
                                  <tr>
                                      <td>Purchase Party</td>
                                      <td><%= purchaseStock[0].purchaseParty[0].name %></td>
                                  </tr>
                                  <tr>
                                      <td>Purchase User</td>
                                      <td><%= purchaseStock[0].user[0].name %></td>
                                  </tr>
                                  <tr>
                                      <td>Invoice No.</td>
                                      <td><%= purchaseStock[0].invoiceNo %></td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <button class="btn btn-success" id="confirmReceive">Confirm Receive</button>
                                    </td>
                                    <td>
                                      <button class="btn btn-primary" id="addItem">Add Receive Item</button>
                                    </td>
                                  </tr>
                              </tbody>
                            </table>
                            <br>
                            <hr>
                            <h3 class="title-2">Item Details</h3>
                            <br>
                            <div class="table-data__tool">
                              <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                  <thead>
                                    <th>S.No.</th>
                                    <th>Item Name</th>
                                    <th>Rate</th>
                                    <th>Purchase Qty</th>
                                    <th>Receive Qty</th>
                                  </thead>
                              <tbody class="itemTable">
                              </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>

      <!-- Update Item -->
      <div id="updateItemModel" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="utItemName" style="text-align: center;"></h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form id="itemData">
                <div class="form-group">
                  <label>Quantity</label>
                  <input type="number" class="form-control" name="receiveQuantity">
                </div>
                <br />  
                 <!-- <input type="text" name="enquiryId" id="utItemId"> -->
                <input type="hidden" name="stockItemId" id="utItemId" /> 
                <!-- <p id="utItemId"></p> -->
                <input type="submit" id="insert" value="Insert" class="btn btn-success" />  
              </form>
            </div>
            <div class="modal-footer">    
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
            </div>
          </div>
        </div>
      </div>

       <!-- Add Item -->
      <div id="addItemModel" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" style="text-align: center;">Add Item</h1>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form id="addItemForm">
                <div class="form-group">
                  <label>Item Name</label>
                  <select class="form-control itemName" name="itemId">
                    
                  </select>
                </div>
                <div class="form-group">
                  <label>Quantity</label>
                  <input type="number" class="form-control" name="receiveQuantity">
                </div>
                <input type="text" value="<%= purchaseStock[0]._id %>" name="foreginId">
                <br />  

                <!-- <p id="utItemId"></p> -->
                <input type="submit" id="insert" value="Insert" class="btn btn-success" />  
              </form>
            </div>
            <div class="modal-footer">    
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
            </div>
          </div>
        </div>
      </div>
      <!-- Jquery JS-->
      <%- include("../include/jsLink") %>
        <script>
        $(document).ready(function() {

              itemNameList();

              function itemNameList() {
                var modelData = "";
                $.ajax({
                  url: '/fetch-all-item-name',
                  method: 'get',
                  dataType: 'json',
                  success: function(response) {
                    console.log(response);
                    if(response.msg == 'success') {
                      response.itemName.forEach((data, index) => {
                        itemName(data, index);
                      });
                      $('.itemName').html(selectItemName);
                    }
                  }
                })
              }

          var selectItemName = "";

              function itemName(data, index) {

                selectItemName += '<option value="' + data._id + '">' + data.itemName + '</option>'
              }


              function itemNameList() {
                var modelData = "";
                $.ajax({
                  url: '/fetch-all-item-name',
                  method: 'get',
                  dataType: 'json',
                  success: function(response) {
                  if(response.msg == 'success') {
                      response.itemName.forEach((data, index) => {
                        itemName(data, index);
                      });
                      $('.itemName').html(selectItemName);
                    }
                  }
                })
              }


          var itemNo = 0;
          var itemDetail = "";

          var purchaseStockData = "";

          function purchaseStock(data, index) {

           purchaseStockData += '<tr class="tr-shadow">';
           purchaseStockData += '<td>'+(index + 1)+'</td>';
           purchaseStockData += '<td>'+data.item[0].itemName+'</td>';
           if (data.rate) {

              purchaseStockData += '<td>'+data.rate+'</td>';
           }else{

              purchaseStockData += '<td><div class="table-data-feature"><button type="button" class="item updateItem" data-id="'+data._id+'" data-itemname="'+data.item[0].itemName+'" data-quantity="'+data.quantity+'" data-toggle="tooltip" data-placement="top" title="Update Quantity"><i class="zmdi zmdi-edit"></i></button></div></td>'
           }

           if (data.quantity) {

              purchaseStockData += '<td>'+data.quantity+'</td>';
           }else{

              purchaseStockData += '<td><div class="table-data-feature"><button type="button" class="item updateItem" data-id="'+data._id+'" data-itemname="'+data.item[0].itemName+'" data-quantity="'+data.quantity+'" data-toggle="tooltip" data-placement="top" title="Update Quantity"><i class="zmdi zmdi-edit"></i></button></div></td>'
           }

           if (data.receiveQuantity) {

              purchaseStockData += '<td>'+data.receiveQuantity+'</td>';
           }else{

              purchaseStockData += '<td><div class="table-data-feature"><button type="button" class="item updateItem" data-id="'+data._id+'" data-itemname="'+data.item[0].itemName+'" data-quantity="'+data.quantity+'" data-toggle="tooltip" data-placement="top" title="Update Quantity"><i class="zmdi zmdi-edit"></i></button></div></td>'
           }

           
           purchaseStockData += '</tr>';

          } 

          //Model for Followup Data
          $(document).on('click', '.updateItem', function(){  
            var utItemId = $(this).data("id");  
            var utItemName = $(this).data("itemname");
            $('#updateItemModel').modal('show');
            $('#utItemName').html(utItemName);
            $('#utItemId').val(utItemId);

          });

          //Submit Followup Data
          $('#itemData').on("submit", function(event){
            event.preventDefault();
            $.ajax({
              url:'/receive-stock-data',  
              method:'POST',  
              data:$('#itemData').serialize(),
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){
                  alert('Item Updated');   
                  $('#itemData')[0].reset();  
                  $('#updateItemModel').modal('hide'); 
                  purchaseStockData = "";
                  purchaseItem();                  
                }
              }
            });
          });

          //Add Receive Item
          $(document).on('click', '#addItem', function(){  

            $('#addItemModel').modal('show');

          });

          //Submit Item Data
          $('#addItemForm').on("submit", function(event){
            event.preventDefault();
            $.ajax({
              url:'/add-receive-stock',  
              method:'POST',  
              data:$('#addItemForm').serialize(),
              success:function(followupResponse){  
                if(followupResponse.msg=='success'){
                  alert('Item Added');   
                  $('#addItemForm')[0].reset();  
                  $('#addItemModel').modal('hide'); 
                  purchaseStockData = "";
                  purchaseItem();                  
                }
              }
            });
          });

           //Confirm Receive Purchase
          $(document).on('click', '#confirmReceive', function(){  

            $.ajax({
              url:'/receive-stock-confirm/<%= purchaseStock[0]._id %>',  
              method:'POST',  
              data:{ role: 1},
              success:function(followupResponse){  

                  window.location.href = "/receive-purchase-stock";
                }
              })
            });



          purchaseItem();

          //Display Item Name
          function purchaseItem() {
            $.ajax({
              url: '/fetch-purchase-item-name/<%= purchaseStock[0]._id %>',
              method: 'get',
              dataType: 'json',
              success: function(response) {
                console.log(response);
                if(response.msg == 'success') {
                  console.log(response);
                  response.purchaseStock.forEach((data, index) => {
                    purchaseStock(data, index);
                  });
                  $('.itemTable').html(purchaseStockData);
                }
              }
            })
          }
        });
        </script>
</body>

</html>
<!-- end document-->